* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: unset;
}

ul,
li,
ol,
menu {
    list-style: none;
}

img {
    width: 100%;
}

.container-lg {
    max-width: 1320px;
    margin: 0 auto;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

.row,
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.flex-between {
    justify-content: space-between;
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
}