* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: unset;
    display: block;
}

ul,
li,
ol,
menu {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

.container-lg {
    max-width: 1320px;
    margin: 0 auto;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

.row,
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.flex-between {
    justify-content: space-between;
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
}

.button {
    border-radius: 10px;
    line-height: 45px;
}

.button a {
    padding: 5px 40px;
}

.btn-light-orange {
    background-color: rgb(255, 231, 218);
    color: rgb(247, 96, 18);
}

.btn-white {
    background-color: white;
    color: black;
    display: block;
    width: 200px;
}